<h1>Sign In</h1>
<form action="/sessions/create">
  <label for= "username">Username:</label>
  <input id="username" type="text" placeholder="Your Username Here" name="username">
  <input type = "submit">
</form>