h1,h2, .pine{
  text-align: center;
  color: #0F4561
}
* {
  font-family: ARIAL;
  }
  
#progress > div {
  background-color: #69F314; 
  height: 23px;
  border-radius: 15px;
}
#progress{
  background-color: #314789;
  border-radius: 23px; 
  padding: 7px;
}