<h2>Update User</h2>

<form action="/update_user">
  <input type="text" name="facebook" placeholder="http://www.facebook.com">
  <input type="text" name="name" placeholder="Joe">
  <input type="text" name="Member Status" placeholder="Member Since 0000">
  <input type="text" name="Picture" placeholder="http://www.image.com">
  <input type="text" name="Bio" placeholder="Life">
  <input type="text" name="Location" placeholder="Wherever, USA">
  <input type="text" name="Completion" placeholder="100%">
  <input type="submit">
</form>