<h2>Update User</h2>

<form action="/update_user">
  <input type="text" name="facebook" placeholder="http://www.facebook.com">
  <input type="text" name="name" placeholder="Joe">
  <input type="text" name="memberstatus" placeholder="Member Since 0000">
  <input type="text" name="picture" placeholder="http://www.image.com">
  <input type="text" name="bio" placeholder="Life">
  <input type="text" name="location" placeholder="Wherever, USA">
  <input type="text" name="completion" placeholder="100%">
  <input type="submit">
</form>