

<a href="https://www.facebook.com/pages/Carl-Sagan/7062124866"><h2><b>Carl Sagan</b></h2></a> <p class="pine">Member since 1970</p>
<div class="container">
  <div class="row">
    <div class = "col-md-4"><img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/2/29/1330525351739/Dr-Carl-Sagan-007.jpg" alt="" height=250px width=350px></div>
 
    <div class="col-md-8">  Carl Edward Sagan was an American astronomer, astrophysicist, cosmologist, author, science popularizer and science communicator in astronomy and other natural sciences. His contributions were central to the discovery of the high surface temperatures of Venus. However, he is best known for his contributions to the scientific research of extraterrestrial life, including experimental demonstration of the production of amino acids from basic chemicals by radiation.
      <br>
      <br>
      <p><b>Location:</b> Brooklyn</p>
       <br>
      <p><b>Completion:</b></p><div id="progressbar1">
  <div></div>
</div>
      </div>
  </div>
</div>