

<a href="https://www.facebook.com/pages/Stephen-Hawking/10232774337"><h2><b>Stephen Hawking</b></h2></a> <p class="pine">Member since 1989</p>
<div class="container">
  <div class="row">
    <div class = "col-md-4"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Stephen_Hawking.StarChild.jpg/240px-Stephen_Hawking.StarChild.jpg" alt="" height=450px width=350px></div>
 
    <div class="col-md-8">   Stephen William Hawking an English theoretical physicist, cosmologist, author and Director of Research at the Centre for Theoretical Cosmology within the University of Cambridge. Among his significant scientific works have been a collaboration with Roger Penrose on gravitational singularity theorems in the framework of general relativity, and the theoretical prediction that black holes emit radiation, often called Hawking radiation. Hawking was the first to set forth a cosmology explained by a union of the general theory of relativity and quantum mechanics. He is a vocal supporter of the many-worlds interpretation of quantum mechanics.
      <br>
      <br>
      <p><b>Location:</b> United Kingdom</p>
       <br>
      <p><b>Completion:</b></p><div id="progressbar2">
  <div></div>
</div>
      </div>
  </div>
</div>