
<a href="https://www.facebook.com/MrKimDotcom"><h2><b>Kim Dotcom</b></h2></a> <p class="pine">Member since 1992</p>
<div class="container">
  <div class="row">
    <div class = "col-md-4"><img src="http://upload.wikimedia.org/wikipedia/commons/e/e2/Kim_dotcom_crowd_cropped.jpg" alt="" height=450px width=350px></div>
 
    <div class="col-md-8"> Kim Dotcom is a German-Finnish Internet entrepreneur, businessman, singer, and political party founder currently residing in New Zealand. He is the founder of file hosting service Mega as well as its now defunct predecessor Megaupload. In politics he is the founder, main funder, and "party visionary" of New Zealand's Internet Party.
      <br>
      <br>
      <p><b>Location:</b> New Zealand</p>
       <br>
      <p><b>Completion:</b></p><div id="progressbar3">
  <div></div>
</div>
      </div>
  </div>
</div>